.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    padding: 30px 100px;
    position:fixed;
    background: white;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal-main .btn {
    margin-left: 0;
    margin-right: 10px;
}

.modal-main input, select {
    margin-bottom: 10px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}
